<table *ngIf="datasource">
  <p-table #dt [columns]="columns" [value]="datasource" [scrollable]="true"
           [style]="{width:'98vw'}" [scrollHeight]="scrollHeight">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [ngStyle]="{'width.px':col.width}">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr *ngIf="columnUppers">
        <th *ngFor="let colUpper of columnUppers" [attr.colspan]="colUpper.colspan" [ngStyle]="{'width.px':colUpper.width}"
            [ngClass]="{'PrHeader' : colUpper.type === 1,
                        'PoHeader' : colUpper.type === 2,
                        'RcHeader' : colUpper.type === 3}">
          {{colUpper.header}}
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngStyle]="{'width.px':col.width}">
          <ng-container *ngIf="col.header !== 'JobNumberMode4';else JobNoBlock">
            {{col.header}}
          </ng-container>
          <ng-template #JobNoBlock>
            <p-dropdown [options]="options" [style]="{'width':'100%'}" appendTo="body"
                        (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
          </ng-template>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns" [ngStyle]="{'width.px':col.width}">
          <ng-container *ngIf="col.field === 'Daily';Else rowBlock">
            {{(rowData[col.field] ? (rowData[col.field] | date:'dd/MM/yy') : '-')}}
          </ng-container>
          <ng-template #rowBlock>
            {{rowData[col.field] || '-'}}
          </ng-template>
        </td>
      </tr>
    </ng-template>
    <ng-template *ngIf="columnFooter" pTemplate="footer" let-columns>
      <tr>
        <td *ngFor="let foot of columnFooter" [attr.colspan]="foot.colspan">
          <ng-container *ngIf="foot.header;else footerBlock">
            <strong>{{foot.header}}</strong> 
          </ng-container>
          <ng-template #footerBlock>
            <ng-container *ngIf="foot.type === 1;else percentBlock">
              {{(getSum(foot.field) || 0) | number :'1.0-2'}}
            </ng-container>
            <ng-template #percentBlock>
              {{getPercent(foot.field) || 0}}
            </ng-template>
          </ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>
</table>
<!--<ng-template #ElseBlock>
  <span style="text-align:center;">Data not been found.</span>
</ng-template>-->
