@import "../../shared/styles/table.style.scss";

/* Structure */
.example-table {
  min-height: 230px;
}


.mat-column-Description {
  flex: 0 0 350px;
}

.mat-row, .mat-header-row {
  width: 87vw; //PERSONALLY I HAD 45 COLUMNS
}

.mat-header-row { //THIS MAKES THE HEADER STICKY
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: inherit;
}

