@import "../../shared/styles/table.style.scss";
@import "../../../sass/styles.scss";

.mat-table {
  overflow: auto;
  height: calc(#{$dialog-vh} - 150px);
  width: calc(#{$dialog-vw} - 35px);
}

.mat-column-Name {
  flex: 0 0 35vw;
}
